/**
 * Font Weight 설정
 */
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

/**
 * z-index 설정
 */
$z-index-backdrop: 9999;
$z-index-tooltip: 1000;
$z-index-toast: 1000;
